<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontStashSharp.MonoGame" version="0.8.8" targetFramework="net48" />
  <package id="MonoGame.Framework.WindowsDX" version="3.8.0.1641" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net48" />
  <package id="SpriteFontPlus" version="0.8.5.43" targetFramework="net48" />
</packages>